<html>
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
  <script src="https://cdn.anychart.com/geodata/2.0.0/custom/world/world.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/themes/dark_blue.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">
  <style type="text/css">
html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
};

#test {

}
</style>
</head>
<body>
  <div id="container"></div>
  <script>
// get data
var myDataCollected = <%- JSON.stringify(myData) %>;
var myHeaderCollected = <%- JSON.stringify(myHeader) %>;

var jsonData = JSON.parse(myDataCollected);
var covidStats = jsonData.countries_stat;
var dateTime = myHeaderCollected.date;


anychart.onDocumentReady(function () {
	// set chart theme
anychart.theme('darkBlue');

    // The data used in this sample can be obtained from the CDN
    // https://cdn.anychart.com/samples/maps-general-features/world-choropleth-map/data.json
    anychart.data.loadJsonFile('https://cdn.anychart.com/samples/maps-general-features/world-choropleth-map/data.json', function (data) {

        var map = anychart.map();
        
        //handle zoom
        var zoom = anychart.ui.zoom();
        zoom.target(map);

        //Addint id in covidStats
        var covidDetail, countriesDetails;
        //(i = 0; i < cars.length; i++)
        for (i = 0; i < covidStats.length; i++){
            //remove comma from numbers
            covidStats[i].cases = covidStats[i].cases.replace(',','');
            covidStats[i].deaths = covidStats[i].deaths.replace(',','');
            covidStats[i].total_recovered = covidStats[i].total_recovered.replace(',','');
            covidStats[i].new_deaths = covidStats[i].new_deaths.replace(',','');
            covidStats[i].new_cases = covidStats[i].new_cases.replace(',','');
            covidStats[i].serious_critical = covidStats[i].serious_critical.replace(',','');
            covidStats[i].active_cases = covidStats[i].active_cases.replace(',','');

            for(j = 0; j < data.length; j++){
                if (covidStats[i].country_name == data[j].name){
                    covidStats[i]["id"] = data[j].id;
                    covidStats[i]["population"] = data[j].population;
                }
            }
        }

        //set id for USA. Need to add population for USA and others
        for (i = 0; i < covidStats.length; i++){
           if(covidStats[i].country_name == "USA") {
            covidStats[i]["id"] = "US"
           }
           if(covidStats[i].country_name == "UK") {
            covidStats[i]["id"] = "GB"
           }
           if(covidStats[i].country_name == "Congo") {
            covidStats[i]["id"] = "CD"
           }
           if(covidStats[i].country_name == "CAR") {
            covidStats[i]["id"] = "CF"
           }
        } 
        // set Population
        for (i = 0; i < covidStats.length; i++){
            for(j = 0; j < data.length; j++){
                if (covidStats[i].id == data[j].id){
                    covidStats[i]["population"] = data[j].population;
                }
            }
        }
        //init data
        //data = jsonData.countries_stat
        map.credits()
                .enabled(true)
                .url('https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_population_density')
                .logoSrc('https://en.wikipedia.org/static/favicon/wikipedia.ico')
                .text('Data source: https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_population_density');

        map.title()
                .enabled(true)
                .fontSize(24)
                .useHtml(true)
                .padding([10, 0, 10, 0])
                .text('Cas de Covid 19 par pays<br/>' +
                    'Sélectionnez un pays pour avoir les informations<br/>' +
                        '<span  style="color:#929292; font-size: 16px;">(Sources: Wikipedia & astsiatsko, last refresh : '+dateTime+')</span>');

        map.geoData('anychart.maps.world');
        map.interactivity().selectionMode('none');
        map.padding(0);

        var dataSet = anychart.data.set(covidStats);
        var density_data = dataSet.mapAs({'value': 'cases'});
        var series = map.choropleth(density_data);

        series.labels(false);

        series.hovered()
                .fill('#F21C23')
                .stroke(anychart.color.darken('#F21C23'));

        series.selected()
                .fill('#c2185b')
                .stroke(anychart.color.darken('#c2185b'));

        series.tooltip()
                .allowLeaveScreen(false)
                .useHtml(true)
                .format(function () {
                    return '<span id="test" style="color: #d9d9d9;font-size:200%"">Nombre de cas: ' +
                            parseFloat(this.value).toLocaleString() + '</span><br/>' +
                            '<span style="color: #d9d9d9;font-size:200%">Nombre de morts: ' +
                            parseInt(this.getData('deaths')).toLocaleString() + '</span><br/>' +
                            '<span style="color: #d9d9d9;font-size:200%">Nombre de guéris: ' +
                            parseInt(this.getData('total_recovered')).toLocaleString() + '</span><br/>' +
                            '<span style="color: #d9d9d9;font-size:calc(0.75em + 1vmin)">Population: ' +
                            parseInt(this.getData('population')).toLocaleString() + '</span><br/>';
                })
                .anchor("bottomLeft");

        var scale = anychart.scales.ordinalColor([
            {less: 300},
            {from: 300, to: 600},
            {from: 600, to: 1000},
            {from: 1000, to: 3000},
            {from: 3000, to: 6000},
            {from: 6000, to: 10000},
            {from: 10000, to: 20000},
            {from: 20000, to: 50000},
            {from: 50000, to: 80000},
            {greater: 80000}
        ]);
        scale.colors(['#B3E0F6','#81d4fa', '#4fc3f7', '#29b6f6', '#039be5', '#0288d1', '#0277bd', '#01579b', '#014377', '#08088A']);

        var colorRange = map.colorRange();
        colorRange.enabled(true)
                .padding([0, 0, 20, 0]);
        colorRange.ticks()
                .enabled(true)
                .stroke('3 #ffffff')
                .position('center')
                .length(7);
        colorRange.colorLineSize(5);
        colorRange.marker().size(7);
        colorRange.labels()
                .fontSize(11)
                .padding(3, 0, 0, 0)
                .format(function () {
                    var range = this.colorRange;
                    var name;
                    if (isFinite(range.start + range.end)) {
                        name = range.start + ' - ' + range.end;
                    } else if (isFinite(range.start)) {
                        name = 'Moins de ' + range.start;
                    } else {
                        name = 'Plus de ' + range.end;
                    }
                    return name
                });

        series.colorScale(scale);
        series.tooltip().fontColor("green");

        // create zoom controls
        var zoomController = anychart.ui.zoom();
        zoomController.render(map);

        // set container id for the chart
        map.container('container');
        // initiate chart drawing
        map.draw();

        //handle zoom
        var controllerContainer = document.createElement('div');
        controllerContainer.style.cssText = 'background-color: #FFECB3; padding: 5px;';
        controllerContainer.setAttribute('id', 'controller_container');

        document.body.appendChild(controllerContainer);

        //Renders the zoom controller into container.
        zoom.decorate(controllerContainer);
    });
});
</script>
</body>
</html>
                